<picture class="w-full overlfow-auto min-h-full">
	<ng-container [ngSwitch]="images.length > 0">
		<ng-container *ngSwitchCase="true">
			<div class="w-full carousel rounded-box gap-1 mx-auto">
				<div class="carousel-item w-full" *ngFor="let img of images">
					<source
						media="(min-width: 1536px)"
						class="min-h-full"
						[srcset]="img.urls.xxl"
					/>
					<source
						media="(min-width: 1248px)"
						class="min-h-full"
						[srcset]="img.urls.xl"
					/>
					<source
						media="(min-width: 1024px)"
						class="min-h-full"
						[srcset]="img.urls.lg"
					/>
					<source
						media="(min-width: 768px)"
						class="min-h-full"
						[srcset]="img.urls.md"
					/>
					<source
						media="(min-width: 0px)"
						class="min-h-full"
						[srcset]="img.urls.sm"
					/>

					<img [src]="img.urls.xxl" class="min-h-full object-cover" />
				</div>
			</div>
		</ng-container>
		<ng-container *ngSwitchDefault>
			<source
				media="(min-width: 1536px)"
				class="min-h-full"
				[srcset]="defaultImage.xxl"
			/>
			<source
				media="(min-width: 1248px)"
				class="min-h-full"
				[srcset]="defaultImage.xl"
			/>
			<source
				media="(min-width: 1024px)"
				class="min-h-full"
				[srcset]="defaultImage.lg"
			/>
			<source
				media="(min-width: 768px)"
				class="min-h-full"
				[srcset]="defaultImage.md"
			/>
			<source
				media="(min-width: 0px)"
				class="min-h-full"
				[srcset]="defaultImage.sm"
			/>

			<img
				[src]="defaultImage.xxl"
				class="min-h-full rounded-box object-cover"
			/>
		</ng-container>
	</ng-container>
</picture>
