<div
	class="flex flex-col-reverse md:grid max-w-screen-xl px-4 mx-auto lg:gap-8 xl:gap-0 lg:pb-16 md:grid-cols-2 lg:grid-cols-5"
>
	<div class="mr-auto place-self-center md:col-span-1 lg:col-span-3">
		<h1
			class="max-w-2xl text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl uppercase"
		>
			<span
				(mouseenter)="startChangingLettersOfTitle()"
				(mouseleave)="clearChangeTextMouseOverInterval()"
				>{{ ipsum.join('') }}</span
			>
		</h1>
		<h2
			class="max-w-2xl mb-4 text-xl font-extrabold leading-none tracking-tight md:text-2xl xl:text-3xl text-gray-500"
		>
			Where you meet innovation
		</h2>
		<p
			class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
		>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, quisquam
			accusamus? Explicabo quaerat beatae doloremque perferendis sunt,
			distinctio aspernatur alias possimus praesentium, placeat odit est,
			obcaecati vel autem non facilis!
		</p>
		<div class="space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
			<a class="btn btn-lg btn-primary" routerLink="/sign-up">Register</a>
		</div>
	</div>
	<div class="lg:mt-0 md:col-span-1 lg:col-span-2 lg:flex">
		<img src="/assets/hero.svg" alt="hero image" />
	</div>
</div>
